@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Custom breakpoints */
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 425px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
